body {
    background-color: #060B27;
    color: #fff;
}
h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.0rem;
}
.form-container {
    display: flex;
    height: 18px;
    justify-content: space-between;
    align-items: center;
    margin-left: 68px;
    margin-right: 68px;
}
.upload-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.annotated-images {
    margin-top: auto;
    max-width: 980px;
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary.submit-btn {
    background-color: #fff;  
    color: black;              
}
.btn-secondary {
    background-color: #fff;  
    color: black;
}
.img-fluid {
    background-color: #fff;
    display: none; 
}
.img-fluid.active {
    display: block;
    margin: 0 auto;
}
.alert {
    margin-top: 40px;
}
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    color: white;
    user-select: none;
    display: none;
}
.nav-arrow.prev {
    left: -50px;
}
.nav-arrow.next {
    right: -50px;
}
