<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Annotation Verifier</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-container">
                <div class="form-group upload-btn">
                    <label for="zip_file">Upload a zip file</label>
                    <input type="file" class="form-control-file" id="zip_file" name="zip_file" required>
                </div>
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            </div>
        </form>
        <hr>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="annotated-images">
            {% for img_str in annotated_images %}
                <div class="mb-3">
                    <img src="data:image/jpeg;base64,{{ img_str }}" class="img-fluid">
                </div>
            {% endfor %}
            <div class="nav-arrow prev" onclick="prevImage()">&#10094;</div>
            <div class="nav-arrow next" onclick="nextImage()">&#10095;</div>
        </div>
    </div>
    <script>
        const totalImages = {{ annotated_images|length }};
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
